<section class="contact-style-one bg-style-two">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-7 col-sm-6 col-xs-12">
                <form action="~/inc/sendemail.php" class="contact-form">
                    <input type="text" placeholder="Your full name" name="name" />
                    <input type="text" placeholder="Your email address" name="email" />
                    <textarea name="message" placeholder="Write message here"></textarea>
                    <button type="submit">Send Message</button>
                </form>
            </div><!-- /.col-md-7 -->
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="contact-infos">
                    <div class="title">
                        <h3>You’ve any question? feel free to contact with us.</h3>
                    </div><!-- /.title -->
                    <div class="single-contact-info">
                        <h4>Call us for imiditate support on this number</h4>
                        <p>+ 666 888 22 444</p>
                    </div><!-- /.single-contact-info -->
                    <div class="single-contact-info">
                        <h4>Send us email for any kind of inquiry</h4>
                        <p>info@binmp.com</p>
                    </div><!-- /.single-contact-info -->
                </div><!-- /.contact-infos -->
            </div><!-- /.col-md-5 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section><!-- /.contact-style-one -->