<section class="faq-style-one ">
    <div class="thm-container">
        <div class="title">
            <h3>Do you have any questions? <br /> Findout answers:</h3>
        </div><!-- /.title -->
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-faq-style-one">
                    <i class="fa fa-question"></i>
                    <h3>How binmp works?</h3>
                    <p>There are many variations of passages of availab but mjority have suffer alteration in some form by inject humour.</p>
                </div><!-- /.single-faq-style-one -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-faq-style-one">
                    <i class="fa fa-question"></i>
                    <h3>Is binmp safe to use?</h3>
                    <p>There are many variations of passages of availab but mjority have suffer alteration in some form by inject humour.</p>
                </div><!-- /.single-faq-style-one -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-faq-style-one">
                    <i class="fa fa-question"></i>
                    <h3>Why this app charge us?</h3>
                    <p>There are many variations of passages of availab but mjority have suffer alteration in some form by inject humour.</p>
                </div><!-- /.single-faq-style-one -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section><!-- /.faq-style-one -->