<section class="features-style-one">
    <div class="thm-container">
        <div class="title">
            <h3>Amazing features to convince you <br /> to use our application</h3>
        </div><!-- /.title -->
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-feature-style-one text-center">
                    <div class="icon-box hvr-radial-out">
                        <i class="binmp-icon-human-resources"></i>
                    </div><!-- /.icon-box -->
                    <div class="text-box">
                        <h3>Safe & Secure</h3>
                        <p>Lorem ipsum is simply free text available dolor sit amet con sectetur.</p>
                    </div><!-- /.text-box -->
                </div><!-- /.single-feature-style-one -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-feature-style-one text-center">
                    <div class="icon-box hvr-radial-out">
                        <i class="binmp-icon-setting"></i>
                    </div><!-- /.icon-box -->
                    <div class="text-box">
                        <h3>Quick Settings</h3>
                        <p>Lorem ipsum is simply free text available dolor sit amet con sectetur.</p>
                    </div><!-- /.text-box -->
                </div><!-- /.single-feature-style-one -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-feature-style-one text-center">
                    <div class="icon-box hvr-radial-out">
                        <i class="binmp-icon-options"></i>
                    </div><!-- /.icon-box -->
                    <div class="text-box">
                        <h3>Minimal Design</h3>
                        <p>Lorem ipsum is simply free text available dolor sit amet con sectetur.</p>
                    </div><!-- /.text-box -->
                </div><!-- /.single-feature-style-one -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section><!-- /.features-style-one -->

<section class="feature-style-two padding-one">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-7 pull-left">
                <img src="~/img/features-style-2-1.png" alt="" />
            </div><!-- /.col-md-7 -->
            <div class="col-md-5 pull-right">
                <div class="feature-style-content">
                    <i class="binmp-icon-exploration"></i>
                    <h3>Водичка-водичка, ты куда? я поймаю тебя !</h3>
                    <p>Мы очень аккуратны в своей работе и не поколебимы, даже если что-то идёт не по плану.</p>
                </div><!-- /.feature-style-content -->
            </div><!-- /.col-md-5 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section><!-- /.feature-style-two -->
<section class="feature-style-two bg-style-two padding-two">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-7 pull-right">
                <img src="~/img/features-style-2-2.png" alt="" />
            </div><!-- /.col-md-7 -->
            <div class="col-md-5 pull-left">
                <div class="feature-style-content">
                    <i class="binmp-icon-chart"></i>
                    <h3>Что-то здесь не так...</h3>
                    <p>Мы любим <s>Фен</s> Фэншуй, всё расположено и стоит так, как должно БЫТЬ, а если и не должно, то это наше решение !</p>
                </div><!-- /.feature-style-content -->
            </div><!-- /.col-md-5 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section><!-- /.feature-style-two -->