<div class="footer-top">
    <div class="thm-container clearfix">
        <div class="logo pull-left">
            <a href="index.html"><img src="~/img/logo-1-1.png" alt="Awesome Image" /></a>
        </div><!-- /.logo pull-left -->
        <div class="social pull-right">
            <a href="#" class="fab fa-twitter"></a>
            <!--
            -->
            <a href="#" class="fab fa-facebook-f"></a>
            <!--
            -->
            <a href="#" class="fab fa-instagram"></a>
            <!--
            -->
            <a href="#" class="fab fa-google-plus-g"></a>
        </div><!-- /.social pull-right -->
    </div><!-- /.thm-container clearfix -->
</div><!-- /.footer-top -->
<div class="footer-bottom text-center">
    <div class="thm-container">
        <p>&copy; copyright 2018 by Layerdrops.com</p>
    </div><!-- /.thm-container -->
</div><!-- /.footer-bottom -->