<header class="header header-home-one">
    <nav class="navbar navbar-default header-navigation stricky">
        <div class="thm-container clearfix">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navigation" aria-expanded="false">
                    <i class="fas fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="~/img/logo-1-1.png" alt="Awesome Image" style="margin-top:15px" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse main-navigation mainmenu " id="main-nav-bar">

                <ul class="nav navbar-nav navigation-box">
                    <li class="current">
                        <a href="index.html">Домашняя</a>
                    </li>
                    <li> <a href="about.html">О нас</a> </li>
                    <li>
                        <a href="#">Страницы</a>
                        <ul class="sub-menu">
                            <li> <a href="404.html">404</a> </li>
                            <li> <a href="pricing.html">Pricing</a> </li>
                            <li><a href="faq.html">FAQ Page</a></li>
                            <li><a href="team.html">Team</a></li>
                            <li><a href="testimonials.html">Testimonials</a></li>
                        </ul><!-- /.sub-menu -->
                    </li>
                    <li>
                        <a href="blog.html">Новости</a>
                        <ul class="sub-menu right-align">
                            <li><a href="blog.html">Blog Classic</a></li>
                            <li><a href="blog-details.html">Blog Details</a></li>
                        </ul><!-- /.sub-menu -->
                    </li>
                    <li> <a href="contact.html">Контакты</a> </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header><!-- /.header -->