<section class="team-style-one">
    <div class="thm-container">
        <div class="title">
            <h3>Наши лучшие сотрудники ФРК<br /> Склад РЦ</h3>
        </div><!-- /.title -->
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-style-one">
                    <h3>Журавский Никита</h3>
                    <p>Зав Склада</p>
                    <div class="social">
                        <a href="#" class="fab fa-twitter"></a>
                        <!--
                        -->
                        <a href="#" class="fab fa-facebook-f"></a>
                        <!--
                        -->
                        <a href="#" class="fab fa-youtube"></a>
                    </div><!-- /.social -->
                    <img src="~/img/team-1-1.png" alt="Awesome Image" />
                </div><!-- /.single-team-style-one -->
            </div><!-- /.col-md-3 col-sm-6 col-xs-12 -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-style-one">
                    <h3>Горбовский Дмитрий</h3>
                    <p>Оператор</p>
                    <div class="social">
                        <a href="#" class="fab fa-twitter"></a>
                        <!--
                        -->
                        <a href="#" class="fab fa-facebook-f"></a>
                        <!--
                        -->
                        <a href="#" class="fab fa-youtube"></a>
                    </div><!-- /.social -->
                    <img src="~/img/team-1-2.png" alt="Awesome Image" />
                </div><!-- /.single-team-style-one -->
            </div><!-- /.col-md-3 col-sm-6 col-xs-12 -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-style-one">
                    <h3>Куртвапов Руслан</h3>
                    <p>Оператор</p>
                    <div class="social">
                        <a href="#" class="fab fa-twitter"></a>
                        <!--
                        -->
                        <a href="#" class="fab fa-facebook-f"></a>
                        <!--
                        -->
                        <a href="#" class="fab fa-youtube"></a>
                    </div><!-- /.social -->
                    <img src="~/img/team-1-3.png" alt="Awesome Image" />
                </div><!-- /.single-team-style-one -->
            </div><!-- /.col-md-3 col-sm-6 col-xs-12 -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-style-one">
                    <h3>Анастасия Чихирникова</h3>
                    <p>Оператор</p>
                    <div class="social">
                        <a href="#" class="fab fa-twitter"></a>
                        <!--
                        -->
                        <a href="#" class="fab fa-facebook-f"></a>
                        <!--
                        -->
                        <a href="#" class="fab fa-youtube"></a>
                    </div><!-- /.social -->
                    <img src="~/img/team-1-4.png" alt="Awesome Image" />
                </div><!-- /.single-team-style-one -->
            </div><!-- /.col-md-3 col-sm-6 col-xs-12 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section><!-- /.team-style-one -->